{
  "singleQuote": true,
  "semi": false,
  "jsxSingleQuote": true,
  "arrowParens": "avoid",
  "trailingComma": "none",
  "bracketSpacing": true,
  "pugPrintWidth": 120,
  "pugTabWidth": 2,
  "pugUseTabs": false,
  "pugAttributeSeparator": "as-needed",
  "pugClosingBracketPosition": "new-line",
  "pugWrapAttributesThreshold": 3,
  "pugClassNotation": "as-is",
  "pugEmptyAttributes": "none",
  "pugSortAttributesBeginning": [
    "class$",
    "d$",
    "data$",
    "^cols$",
    "^v-else$",
    "^v-for$",
    "^:key$",
    "^v-if$",
    "^v-else-if$",
    "^v-on$",
    "^v-bind$",
    "^ref$",
    "^v-model",
    "^name$",
    "^:?type$",
    "^:value$",
    "^v-text$",
    "^:?label$",
    "^:headers$",
    "^:items$",
    "^:?item-text$",
    "^:?item-value$",
    "^:?item-disabled$",
    "^:?placeholder$",
    "^:?src$",
    "^:?color$",
    "^:?text-color$",
    "^:?icon$",
    "^:?small$"
  ],
  "pugSortAttributesEnd": [
    "^:?hint$",
    "^:?persistent-hint$",
    "^prepend-",
    "^@click:prepend",
    "^append-",
    "^@click:append",
    "^:to$",
    "^exact$",
    "^:(?!(width|height|loading|disabled|data-))",
    "^target$",
    "^:?width$",
    "^:?height$",
    "^@click",
    "^@",
    "^:loading$",
    "^:disabled$",
    "^:?data-"
  ]
}
