include @templates/route

mixin routes
  div
    +route(match='overview')
      include @pages/new-page
    +route(match='new-page')
      include @pages/new-page

    //- template(x-data x-if='$store.routing.page === "overview"')
    //-   include @pages/overview

    //- template(x-data x-show='$store.routing.page === "edit-page"')
    //-   include @pages/edit-page
    //- template(x-data x-show='$store.routing.page === "checkout"')
    //-   include @pages/checkout
    //- template(x-data x-show='$store.routing.page === "settings"')
    //-   include @pages/settings
    //- template(x-data x-show='$store.routing.page === "404"')
    //-   include @pages/404
