doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    link(href='favicon.ico' rel='icon')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='description' content='Web site created using create-snowpack-app')
    link(type='text/css' href='index.css' rel='stylesheet') 
    script(type='module' src='index.js')
    title Snowpack & Tailwind App
  body
    include @templates/application
