include @templates/publish

mixin edit-page
  div(class='flex-1 block')
    div(class='flex space-x-6')
      //- div(class='hidden')
      //-   block content
      #content(class='flex-1')
        div(class='bg-white shadow-md rounded-lg h-56 mb-10 overflow-hidden')
          div(class='bg-gray-50 h-12 flex items-center px-4')
            p(class='text-lg') Document Name
          #editor
        div(class='bg-white shadow-md rounded-lg h-56 overflow-hidden')
          div(class='bg-gray-50 h-12 flex items-center px-4 border-b')
            <svg class='w-4 h-4 mr-2 text-gray-600' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
              <path d="M8 9a3 3 0 100-6 3 3 0 000 6zM8 11a6 6 0 016 6H2a6 6 0 016-6zM16 7a1 1 0 10-2 0v1h-1a1 1 0 100 2h1v1a1 1 0 102 0v-1h1a1 1 0 100-2h-1V7z" />
            </svg>           
            p(class='text-lg text-gray-700') Contributions
      div(class='w-96 h-96')
        div(class='bg-white shadow-md rounded-lg overflow-hidden')
          div(class='bg-gray-50 h-12 flex items-center px-4 border-b')
            <svg class='w-4 h-4 mr-2 text-gray-600' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
              <path d="M10.894 2.553a1 1 0 00-1.788 0l-7 14a1 1 0 001.169 1.409l5-1.429A1 1 0 009 15.571V11a1 1 0 112 0v4.571a1 1 0 00.725.962l5 1.428a1 1 0 001.17-1.408l-7-14z" />
            </svg>              
            p(class='text-lg text-gray-700') Publish Details
          +publish