include @templates/header
include @templates/sidebar
include @templates/route

include @pages/overview
include @pages/new-page
include @pages/edit-page
include @pages/checkout
include @pages/settings

div(class='flex h-screen bg-gray-800 overflow-hidden')
  div(class='bg-gray-800 w-64')
    +sidebar
  div(class='bg-gray-100 flex-1 flex flex-col px-16 pt-8 overflow-hidden')
    +header
    // Page Content
    +route(match='overview')
      +overview
    +route(match='new-page')
      +new-page
    +route(match='edit-page')
      +edit-page
    +route(match='checkout')
      +checkout
    +route(match='settings')
      +settings
